<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            Hospital Management System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#!hos">Hospitals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!doc">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#!pat">Patients</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle w-75">
        <div class="card p-5">
            <div class="card-body display-5" id="content">
                {{title}}
            </div>
            <div class="row justify-content-end g-0">
                <div class="col-3">
                    <input type="text" class="form-control" ng-model="src" placeholder="Search" id="srch" value="">
                </div>
                <div class="col-3">
                    <select class="form-select" ng-model="selected">
                        <option ng-repeat="x in keys" value="{{x}}">{{x|sentencecase}}</option>
                    </select>
                </div>
            </div>
            <table class="table table-dark table-hover table-bordered border-light p-5 my-5" id="table">
                <tr>
                    <th>ID</th>
                    <th>Roman ID</th>
                    <th>Name (LC)</th>
                    <th>Name (UC)</th>
                    <th>Name (SC)</th>
                    <th>Name (TC)</th>
                    <th>Address</th>

                </tr>
                <tr ng-repeat="x in Data | orderBy:'id' | jsonfilter : [selected,src]">
                    <td>{{x.id}}</td>
                    <td>{{x.id | roman}}</td>
                    <td>{{x.name | lowercase}}</td>
                    <td>{{x.name | uppercase}}</td>
                    <td>{{x.name | sentencecase}}</td>
                    <td>{{x.name | togglecase}}</td>
                    <td class="{{x.address|color}}">{{x.address|uppercase}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
